/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.button-primary {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 19px 40px;
	font-size: 16px;
	line-height: 1.2px;
	font-weight: 600;
	text-align: center;
	color: var(--white-color);
	text-decoration: none;
	border: 0;outline: none;
	border-radius: 8px;
	background-color: var(--global-color);
	transition: .3s ease;
	svg {
		margin-right: 8px;
		width: 14px;
		height: 14px;
	}
	&:hover {
		text-decoration: none;
		color: var(--white-color);
		background-color: var(--darkBlue-color);
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}