/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.row-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	.button-primary,
	.button-second {
		margin-top: 10px;
		margin-bottom: 10px;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}

.button-primary {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 17px 40px 15px;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 600;
	text-align: center;
	color: var(--white-color);
	text-decoration: none;
	border: 0;outline: none;
	border-radius: 8px;
	background-color: var(--global-color);
	transition: .3s ease;
	svg {
		margin-top: -2px;
		margin-right: 8px;
		width: 14px;
		height: 14px;
	}
	&:hover {
		text-decoration: none;
		color: var(--white-color);
		background-color: var(--darkBlue-color);
	}
	&:disabled,
	[disabled] {
		color: var(--darkGrey-color);
		background-color: var(--midGrey-color);
	}
}
.button-second {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 17px 40px 15px;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 600;
	text-align: center;
	color: var(--global-color);
	text-decoration: none;
	border: 1px solid var(--global-color);
	outline: none;
	border-radius: 8px;
	background-color: transparent;
	transition: .3s ease;
	&:hover {
		text-decoration: none;
		color: var(--darkBlue-color);
		border-color: var(--darkBlue-color);
	}
	&:disabled,
	[disabled] {
		color: var(--midGrey-color);
		border-color: var(--midGrey-color);
	}
}
@include tablet {
	.button-primary,
	.button-second {
		font-size: 14px;
	}
}