/*-----footer-----*/
.footer {
	position: relative;
	width: 100%;
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    .col {
      &:nth-child(1) {
        width: calc(30% - 15px);
      }
      &:nth-child(2) {
        width: calc(20% - 15px);
      }
      &:nth-child(3) {
        width: calc(20% - 15px);
      }
      &:nth-child(4) {
        width: calc(20% - 15px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
      }
    }
    .phone {
      margin-bottom: 26px;
      font-size: 28px;
      &:hover {
        color: var(--global-color);
      }
    }
  }
  &-nav {
    @include list-reset;
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      a {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.15;
        text-transform: uppercase;
        color: var(--font-color);
        &:hover {
          color: var(--global-color);
        }
      }
    }
  }
  &-title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #c8c8c8;
  }
  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    .col {
      &:nth-child(1) {
        margin-right: 20px;
        color: #c8c8c8;
      }
      .group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        &>a {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        a:hover {
          color: var(--font-color);
        }
        p {
          margin: 0;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          a {
            text-decoration: underline;
          }
        }
      }
      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        p {
          font-size: 15px;
          margin: 0;
        }
      }
    }
  }
  .certif-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 20px;
    img {
      width: auto;
      max-height: 50px;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
  .logos-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
    row-gap: 14px;
    img {
      width: auto;
      max-height: 30px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  a {
    display: inline-flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-left: 15px;
    }
    span {
      font-size: 17px;
      color: var(--font-color);
      transition: color .3s ease;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &:hover {
      span {
        color: var(--global-color);
      }
    }
  }
}


@include tablet {
  /*-----footer-----*/
  .footer {
    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      .col {
        &:nth-child(1) {
          width: calc(50% - 15px);
          margin-bottom: 44px;
        }
        &:nth-child(2) {
          width: calc(50% - 15px);
        }
        &:nth-child(3) {
          width: calc(50% - 15px);
        }
        &:nth-child(4) {
          width: calc(50% - 15px);
          align-items: flex-start;
          text-align: left;
          order: -1;
          margin-bottom: 44px;
        }
      }
    }
    &__bottom {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column-reverse;
      margin-top: 30px;
      .col {
        &:nth-child(1) {
          margin-right: 0;
          margin-top: 28px;
        }
        &:nth-child(2) {
          align-items: flex-start;
          justify-content: flex-start;
          p {
            font-size: 12px;
          }
        }
      }
    }
    .certif-list {
      justify-content: flex-start;
      img {
        max-height: 38px;
      }
    }
    .logos-list {
      justify-content: flex-start;
      img {
        max-height: 30px;
      }
    }
  }

  .socials {
    align-items: flex-start;
    a {
      span {
        font-size: 16px;
      }
    }
  }
}

@include tablet {
  .footer {
    &__container {
      justify-content: flex-start;
      .col {
        &:nth-child(1) {
          width: 100%;
          margin-bottom: 44px;
        }
        &:nth-child(2) {
          width: 100%;
          margin-bottom: 30px;
        }
        &:nth-child(3) {
          width: 100%;
        }
        &:nth-child(4) {
          width: 100%;
          margin-bottom: 30px;
        }
        .phone {
          margin-bottom: 20px;
          font-size: 22px;
        }
      }
    }
  }
}