/*----header-----*/
.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px 0;
  width: 100%;
  background-color: transparent;
  z-index: 500;
  transition: position 10s ease-in, background-color 0.3s ease-in;
  &.active {
    position: fixed;
    background-color: var(--white-color);
  }
  .logo {
    flex-shrink: 0;
    width: 66px;
    margin-right: 24px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.nav {
  &-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .button-primary {
      padding-top: 20px;
      padding-bottom: 19px;
      font-size: 18px;
      font-weight: 500;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0 32px 0 auto;
    li {
      &:not(:last-child) {
        margin-right: 32px;
      }
      a {
        display: inline-block;
        padding: 4px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.32;
        color: var(--font-color);
        transition: color .3s ease;
        &:hover {
          text-decoration: underline;
          color: var(--darkBlue-color);
        }
      }
    }
  }
}