.page-template-about {
  .dsection2 {
    .section-title {
      font-size: 35px;
    }
  }
  .accreditbl .default__container-right>p:last-child {
    margin-top: 52px;
    margin-bottom: 0;
    max-width: 350px;
    font-size: 16px;
  }
}
.single-uslugi {
  .dsection4 {
    margin-bottom: 100px;
  }
}
.products {
  .dsection3 {
    padding-top: 64px;
  }
}
.single-services {
  .dsection5__infocard {
    padding: 40px 24px;
  }
}

@include tablet {
  .page-template-about {
    .dsection2 {
      .section-title {
        font-size: 28px;
      }
    }
  }
  .single-services {
    .dsection4 {
      margin-bottom: 72px;
    }
    .dsection5 {
      &__container {
        justify-content: flex-start;
        flex-direction: column;
      }
      &__left {
        width: 100%;
        margin-bottom: 52px;
      }
      &__right {
        width: 100%;
      }
    }
  }
  .products {
    .dsection3 {
      padding-top: 44px;
    }
  }
}

@media screen and (max-width: 765px) {
  .page-template-about {
    .dsection2 {
      .section-title {
        font-size: 24px;
        span {
          display: none;
        }
      }
    }
    .accreditbl .default__container-right>p:last-child {
      margin-top: 40px;
    }
  }
}

@include mobile {
  .home {
    .dsection3__cards {
      .pcard:nth-child(n+4) {
        display: none;
      }
    }
  }
  .single-uslugi {
    .dsection4 {
      margin-bottom: 56px;
    }
  }
}