.page-template-about {
  .default-section2 {
    .section-title {
      font-size: 35px;
    }
  }
  .accreditbl .default__container-right>p:last-child {
    margin-top: 52px;
    margin-bottom: 0;
    max-width: 350px;
    font-size: 16px;
  }
}
.single-uslugi {
  .default-section4 {
    margin-bottom: 100px;
  }
}
.products {
  .default-section3 {
    padding-top: 64px;
  }
}

@include tablet {
  .page-template-about {
    .default-section2 {
      .section-title {
        font-size: 28px;
      }
    }
  }
  .single-uslugi {
    .default-section4 {
      margin-bottom: 72px;
    }
  }
  .products {
    .default-section3 {
      padding-top: 44px;
    }
  }
}

@media screen and (max-width: 765px) {
  .page-template-about {
    .default-section2 {
      .section-title {
        font-size: 24px;
        span {
          display: none;
        }
      }
    }
    .accreditbl .default__container-right>p:last-child {
      margin-top: 40px;
    }
  }
}

@include mobile {
  .home {
    .default-section3__cards {
      .pcard:nth-child(n+4) {
        display: none;
      }
    }
  }
  .single-uslugi {
    .default-section4 {
      margin-bottom: 56px;
    }
  }
}