.page-template-about {
  .default-section2 {
    .section-title {
      font-size: 35px;
    }
  }
}

@include tablet {
  .page-template-about {
    .default-section2 {
      .section-title {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .page-template-about {
    .default-section2 {
      .section-title {
        font-size: 24px;
        span {
          display: none;
        }
      }
    }
  }
}