/*-----title----*/
.default-title {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--global-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Radiotechnika', 'Gilroy', sans-serif;
  font-size: 36px;
  line-height: 1.1;
  text-transform: uppercase;
  word-wrap: break-word;
  color: var(--font-color);
  &:not(:last-child) {
    margin-bottom: 48px;
  }
}

@include tablet {
  .default-title {
    font-size: 18px;
  }
  .section-title {
    font-size: 28px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

@include mobile {
  .default-title {
    font-size: 16px;
  }
  .section-title {
    font-size: 22px;
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}