/*-----title----*/
.heading-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 48px;
	.link {
		margin-top: 16px;
	}
}
.section-text {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	color: var(--font-color);
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
	p {
		margin-top: 0;
		margin-bottom: 0;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.default-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 30px 20px;
	border-radius: var(--border-radius);
	background: var(--lightGrey-color);
	.quantity input {
		background: var(--white-color);
	}
	.select2-selection__rendered,
	.select2-container .select2-selection--single,
	.select2-container .select2-selection--single .select2-selection__rendered {
		border-radius: 10px;
		background: #ffffff;
	}
}
.default-wrapper-dark {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 30px 20px;
	border-radius: var(--border-radius);
	background: radial-gradient(133.33% 133.33% at 50% 50%, #515158 0%, rgba(81, 81, 88, 0.00) 100%), #292932;
  .link:hover {
    color: var(--lightGrey-color);
    &::before {
      background-color: var(--lightGrey-color);
    }
  }
  .link-input:hover {
    color: var(--lightGrey-color);
    border-color: var(--lightGrey-color);
  }
	.title-1, .title-2, .title-3, .title-4 {
		color: var(--lightGrey-color);
	}
}

.title {
	&-1 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 40px;
		line-height: 1.2;
		color: var(--font-color);
	}
	&-2 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.2;
		color: var(--font-color);
	}
	&-3 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.2;
		color: var(--font-color);
	}
	&-4 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 17px;
		line-height: 1.2;
		color: var(--font-color);
	}
}

@include tablet {
	.heading-row {
		justify-content: flex-start;
		flex-direction: column;
		margin-bottom: 40px;
	}
	.section-text {
		font-size: 16px;
		&:not(:last-child) {
			margin-bottom: 0.7rem;
		}
		p {
			&:not(:last-child) {
				margin-bottom: 0.7rem;
			}
		}
	}
	.title {
		&-1 {
			font-size: 32px;
		}
		// &-2 {
		// 	margin-bottom: 20px;
		// 	font-size: 20px;
		// }
		// &-3 {
		// 	margin-bottom: 20px;
		// 	font-size: 18px;
		// }
		// &-4 {
		// 	margin-bottom: 20px;
		// 	font-size: 17px;
		// }
	}
}

@include mobile {
	.heading-row {
		margin-bottom: 24px;
	}
	.default-wrapper,
	.default-wrapper-dark {
		padding: 24px 10px;
	}
	.title {
		&-1 {
			font-size: 24px;
		}
	}
	.title-1,
	.title-2,
	.title-3,
	.title-4 {
		text-align: left !important;
	}
}