.accreditbl {
  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
        margin-right: 28px;
      }
      img {
        filter: saturate(0%);
        transition: filter .3s ease;
        &:hover {
          filter: saturate(100%);
        }
      }
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }
  &__card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 12px;
    background-color: var(--global-color);
    img {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      margin-bottom: 16px;
    }
    &:nth-child(1) {
      p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.1;
        color: var(--white-color);
      }
    }
    &:nth-child(2) {
      background-color: var(--darkBlue-color);
      p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.32;
        color: var(--white-color);
      }
    }
  }
  .default__container-right {
    p {
      &:nth-child(2) {
        max-width: 390px;
      }
      &:nth-child(4) {
        max-width: 340px;
      }
    }
  }
}

@include tablet {
  .accreditbl {
    &__logos {
      margin-top: 56px;
      margin-bottom: 56px;
    }
    .default__container-right {
      p {
        &:nth-child(2) {
          max-width: 370px;
        }
        &:nth-child(4) {
          max-width: 310px;
        }
      }
    }
  }
}

@include mobile {
  .accreditbl {
    &__logos {
      margin-top: 72px;
      overflow-x: auto;
      margin-right: -20px;
      padding-right: 20px;
      width: calc(100% + 20px);
      padding-bottom: 16px;
      &-item {
        max-width: 25%;
        flex-shrink: 0;
        img {
          max-height: 60px;
        }
      }
    }
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
    &__card {
      padding: 28px;
      &:nth-child(1) {
        p {
          font-size: 16px;
        }
      }
    }
    .default__container-right {
      p {
        &:nth-child(2),
        &:nth-child(4) {
          max-width: 100%;
        }
      }
    }
  }
}