.hero {
  margin-top: 44px;
  padding-bottom: 88px;
  position: relative;
  &__content {
    width: 700px;
  }
  &__subtitle {
    margin-top: 0;
    margin-bottom: 56px;
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--global-color);
  }
  &__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: 'Radiotechnika', 'Gilroy', sans-serif;
    font-size: 42px;
    line-height: 1.09;
    text-transform: uppercase;
    &-mobile {
      display: none;
    }
  }
  &__text {
    max-width: 540px;
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.32;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 48px;
    .button-second {
      margin-left: 20px;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@include tablet {
  .hero {
    margin-top: 56px;
    padding-bottom: 64px;
    &__content {
      width: 480px;
    }
    &__subtitle {
      font-size: 18px;
    }
    &__title {
      font-size: 28px;
    }
    &__text {
      max-width: 330px;
      p {
        font-size: 16px;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
    &__buttons {
      margin-top: 64px;
    }
  }
}

@include mobile {
  .hero {
    margin-top: 36px;
    padding-bottom: 72px;
    &__content {
      width: 100%;
    }
    &__subtitle {
      display: none;
    }
    &__title {
      display: none;
    }
    &__title-mobile {
      margin-top: 0;
      margin-bottom: 44px;
      font-family: 'Radiotechnika', 'Gilroy', sans-serif;
      font-size: 24px;
      line-height: 1.09;
      text-transform: uppercase;
    }
    &__text {
      max-width: 100%;
      p {
        font-size: 16px;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
    &__buttons {
      flex-direction: column;
      margin-top: 56px;
      .button-primary {
        width: 100%;
      }
      .button-second {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
      }
    }
    &__image {
      position: relative;
      margin-top: 52px;
      width: calc(100% - 40px);
      margin-left: 20px;
      aspect-ratio: 35 / 21;
      border-radius: 16px;
    }
  }
}