.productsbl {
  padding-top: 120px;
  padding-bottom: 120px;
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 76px 20px;
    width: 100%;
  }
  .row-buttons {
    margin-top: 76px;
  }
}

.pcard {
  display: flex;
  flex-direction: column;
  &-img {
    width: 100%;
    aspect-ratio: 40 / 25;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid var(--global-color);
    margin-bottom: 28px;
  }
  &-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--black-color);
    transition: color .3s ease;
  }
  &:hover {
    .pcard-title {
      color: var(--global-color);
    }
  }
}

@include tablet {
  .productsbl {
    .default__container-left {
      margin-bottom: 64px;
    }
    &__cards {
      gap: 64px 20px;
    }
    .row-buttons {
      margin-top: 56px;
    }
  }
  
  .pcard {
    &-img {
      aspect-ratio: 35 / 22;
      margin-bottom: 24px;
    }
    &-title {
      font-size: 16px;
    }
  }
}

@include mobile {
  .productsbl {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
      .pcard:nth-child(n+4) {
        display: none;
      }
    }
  }
  
  .pcard {
    &-img {
      aspect-ratio: 35 / 22;
    }
    &-title {
      font-size: 14px;
    }
  }
}