.upobl {
  &__content {
    padding-top: 64px;
    padding-bottom: 64px;
    border-top: 2px solid var(--global-color);
    border-bottom: 2px solid var(--global-color);
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.32;
      text-transform: uppercase;
      color: var(--font-color);
      span {
        color: var(--global-color);
      }
    }
  }
}

@include tablet {
  .upobl {
    &__content {
      padding-top: 56px;
      padding-bottom: 56px;
      h2 {
        font-size: 24px;
      }
    }
  }
}

@include mobile {
  .upobl {
    &__content {
      h2 {
        font-size: 16px;
        line-height: 1.8;
      }
    }
  }
}