/***** FONTS *****/
@import "fonts";

/***** GENERAL ELEMENTS *****/
:root {
  // base
  --content-width: 1240px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fafafa;
  --black-color: #151515;
  --font-color: #151515;

  --global-color: #166dac;
  --lightBlue-color: #8bb5d3;
  --midBlue-color: #5186ac;
  --darkBlue-color: #0a385a;

  --lightGrey-color: #f1f1f1;
  --midGrey-color: #999999;
  --darkGrey-color: #737373;

  // --green-color: #8BD27C;
  --red-color: #f36a6a;
}

/***** Mixins *****/
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
@mixin desktop {
  @media screen and (max-width: 1366px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}


/***** BLOCKS GLOBAL *****/
@import "general";
@import "blocks/buttons";
@import "blocks/title";


/***** COMPONENTS GLOBAL *****/
@import "blocks/header";
@import "blocks/footer";
// @import "blocks/breadcrumbs";
// @import "blocks/pagination";
// @import "blocks/tags";
@import "blocks/accordion";
// @import "blocks/tabs";
// @import "blocks/article";
// @import "blocks/sliders";
@import "blocks/form";

/***** SECTIONS GLOBAL (Widgets) *****/
@import "widgets/hero";
@import "widgets/benefits";
@import "widgets/productsbl";
@import "widgets/companybl";
@import "widgets/default-sections";
@import "widgets/upobl";
@import "widgets/accreditbl";
@import "widgets/ctabl";
@import "widgets/contactsbl";